.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.game {
    width: 700px;

    display: flex;
    justify-content: space-between;

    margin-top: 30px;

    position: relative;
}


.game img {
    width: 400px;
}

.game button {
    width: 150px;
    height: 40px;

    color: white;
    background-color: #27ae60;

    border-radius: 5px;
    border: none;

    margin-top: 30px;

    font-size: 14px;
    font-weight: bold;
}

.game p {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    letter-spacing: 5px;
}



.letters {
    width: 580px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;

    margin-top: 30px;
}

.letters button{
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.letters button.disabled {
    background-color: #9faab5;
    color:#7f8084;
    cursor: default;
}

.letters button.enabled {
    background-color: #bddfef;
    color: #3078a7;
}

.letters button.enabled:hover {
    background-color: #4bb7e9;
    color: #ffffff;
}



.guess {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

.guess input {
    width: 50%;
    height: 30px;

    border-radius: 3px;
    outline: none;
}

.guess button {
    height: 40px;
    width: 15%;

    background-color: #e1ecf4;
    color: #4c7298;

    border-color: #4c7298;
    border-radius: 3px;
}

.defeat {
    color: red;
    letter-spacing: normal;
}

.win {
    color: green;
    letter-spacing: normal;
}